*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-color: #37343B;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    background-image: linear-gradient(to bottom right, #1E1E1E, #0B0A11);
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: 'Lexend';
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend';
    color: #FFFFFF;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    font-family: 'Lexend';
    color: #FFFFFF;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-family: 'Lexend';
    color: #FFFFFF;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Lexend';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #838186;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #0C0A1C;
    border: 2px solid #838186;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    
    
}
.btn:hover{
    color: #ff7200;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: center;
}

.content h1{
    font-family: 'Lexend';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    text-align: center;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.container{
    padding: 2rem;
    background-color: #0B0A11;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_box_4 {
    border: 3x solid black;
    border-radius: 10px;
    width: 30vw;
    background-color: rgb(99, 99, 99);
    -webkit-box-shadow: 0 0 20px rgb(7, 7, 7);
    box-shadow: 0 0 20px rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .color_band_4 {
    height: 160px;
    width: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: -2px 3px;
    justify-content: center;
  }
  
  .select_color_4 {
    -webkit-appearance: none;
    background-color: rgb(99, 99, 99);
    border-style: none;
    height: 160px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }

  .main_box_5{
    border: 3x solid black;
    border-radius: 10px;
    width: 35vw;
    background-color: rgb(99, 99, 99);
    -webkit-box-shadow: 0 0 20px rgb(7, 7, 7);
    box-shadow: 0 0 20px rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_band_5{
    height: 160px;
    width: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: -2px 3px;
    justify-content: center;
}

.select_color_5{
    -webkit-appearance: none;
    background-color: rgb(99, 99, 99);
    border-style: none;
    height: 160px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.main_box_6 {
    border: 3x solid black;
    border-radius: 10px;
    width: 35vw;
    background-color: rgb(99, 99, 99);
    -webkit-box-shadow: 0 0 20px rgb(7, 7, 7);
    box-shadow: 0 0 20px rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .color_band_6 {
    height: 160px;
    width: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: -2px 3px;
    justify-content: center;
  }
  
  .select_color_6 {
    -webkit-appearance: none;
    background-color: rgb(99, 99, 99);
    border-style: none;
    height: 160px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }

  .color_1:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(17, 17, 17);
  }
  .color_2:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(17, 17, 17);
  }
  .color_3:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(17, 17, 17);
  }
  .color_4:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(17, 17, 17);
  }
  .color_5:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(17, 17, 17);
  }
  .color_6:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(7, 7, 7);
    box-shadow: 0 0 10px rgb(17, 17, 17);
  }
  
  .main-light {
    background-color: var(--color-light-4);
  }
  
  .select-b-light {
    background-color: var(--color-light-3);
  }

  .black{
    background-color: black;
    color: white;   
}
.brown{
    background-color: brown;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
    color: white;
}
.violet{
    background-color: violet;
}
.grey{
    background-color: grey;
}
.white{
    background-color: white;
}
.gold{
    background-color: gold;
}
.silver{
    background-color: silver;
}

.btn_section :hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(54, 54, 54);
  }
  .output_section:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(54, 54, 54);
    color: white;
  }
  
  .btn_restart:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(54, 54, 54);
  }
  .btn_change:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(54, 54, 54);
  }
  #btn-calc:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(54, 54, 54);
  }
  
  .btn-light:hover {
    color: var(--text-dark);
    background-color: var(--color-light-1);
  }
  .btn_section-light :hover {
    color: var(--text-dark);
    background-color: var(--color-light-1);
  }
  
  .output_section-light:hover {
    background-color: var(--color-light-1);
  }
  /* .btn_calulate_5:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(54, 54, 54);
  }
  .btn_calulate_6:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(54, 54, 54);
  } */
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}