*{
  margin: 0;
  padding: 0;
}


.main{
  width: 100%;
  background-color: #1B0B03;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.navbar {
width: 100%; 
height: 75px;
background-image: linear-gradient(to bottom right, #1E1E1E, #0B0A11);
}


.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color: #ff7200;
  font-size: 35px;
  font-family: 'Poppins';
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  color: #FFFFFF;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
  font-family: 'Poppins';
  color: #FFFFFF;
}

ul li a{
  text-decoration: none;
  color: #fff;
  font-family: "Poppins" ;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  font-family: 'Poppins';
  color: #FFFFFF;
}

ul li a:hover{
  color: #ff7200;
}

.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch{
  font-family: 'Poppins';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #838186;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn{
  width: 100px;
  height: 40px;
  background: #0C0A1C;
  border: 2px solid #838186;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
  
  
}
.btn:hover{
  color: #ff7200;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}

.hero-section {
position: relative;
width: 100%; 
height: 100vh; 
overflow: hidden;
}

.hero-section img {
width: 100vw; 
height: 100vh; 
object-fit: cover; 
}


.hero-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #0B0A11; /* Adjust text color as needed */
/* Add other styling properties for your hero content */
}



.content{
  width: 100%;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
  font-size: 20px;
}

.content .par{
  padding-left: 20px;
  padding-bottom: 0px;
  font-size: 16px;
  font-family: Arial;
  letter-spacing: 1.0px;
  line-height: 20px;
  text-align: center;
}

.content h1{
  font-family: 'Poppins';
  font-weight:bolder;
  font-size: 110px;
  padding-left: 20px;
  margin-top: 0%;
  letter-spacing: 2px;
  text-align: center;
  color: #ff7200;
  
}

.content .cn a{
  text-decoration: none;
  color: #000;
  transition: .3s ease;
}

.cn:hover{
  background-color: #fff;
}

.content span{
  color: #ff7200;
  font-size: 65px
}

.container {
padding: 2rem;
background-color: #0C0A1C;
border-radius: 1rem;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
max-width: 80%; /* Set to 50% for approximately half the size of the webpage */
margin: 0 auto; /* Add auto margin to center horizontally */
}

.container2 {
width: 70%; 
margin: 20px 0; 
background-color: #0B0A11;
padding: 2rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.calculator {
  border: 1px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.resistor {
  width: 300px;
}


.nav-links {
  align-items: flex-start;
  justify-content: flex-start; /* Align to the left */
  background: #1B0B03;
  padding: 10px; /* Adjusted padding */
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%; /* Make it 100% width of the container */
  margin: 0;
}

.nav-links li {
list-style: none;
margin: 0 8px;
}

.nav-links li a {
position: relative;
color: #E0DFE9;
font-size: 26px; /* Adjusted font size */
font-weight: 500;
padding: 6px 0;
text-decoration: none;
}

.nav-links li a:before {
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 3px;
width: 0%;
background: #E0DFE9;
border-radius: 12px;
transition: all 0.4s ease;
}

.nav-links li a:hover:before {
width: 100%;
}

.nav-links li.center a:before {
left: 50%;
transform: translateX(-50%);
}

.nav-links li.upward a:before {
width: 100%;
bottom: -5px;
opacity: 0;
}

.nav-links li.upward a:hover:before {
bottom: 0px;
opacity: 1;
}

.nav-links li.forward a:before {
width: 100%;
transform: scaleX(0);
transform-origin: right;
transition: transform 0.4s ease;
}

.nav-links li.forward a:hover:before {
transform: scaleX(1);
transform-origin: left;
}

.nav-links li a:before{
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 3px;
width: 0%;
background: #ff7200;
border-radius: 12px;
transition: all 0.4s ease;
}
.nav-links li a:hover:before{
width: 100%;
}
.nav-links li.center a:before{
left: 50%;
transform: translateX(-50%);
}
.nav-links li.upward a:before{
width: 100%;
bottom: -5px;
opacity: 0;
}
.nav-links li.upward a:hover:before{
bottom: 0px;
opacity: 1;
}
.nav-links li.forward a:before{
width: 100%;
transform: scaleX(0);
transform-origin: right;
transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
transform: scaleX(1);
transform-origin: left;
}


h3 {
font-family: 'Poppins';
font-size: 25px;
font-weight: bold;
margin-top: 10%;
letter-spacing: 2px;
text-align: left;
color: #E0DFE9; 
}

h4 {
font-family: 'Poppins';
font-size: 18px;
margin-top: 1%;
font-weight: lighter;
letter-spacing: 2px;
color: #E0DFE9; /* Add your desired color */
}


.dropdown {
position: relative;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px; /* Adjusted font size */
line-height: 2;
height: 40px; /* Adjusted height */
transition: all 200ms linear;
border-radius: 4px;
width: 200px; /* Adjusted width */
letter-spacing: 1px;
display: inline-flex;
align-items: center;
justify-content: center;
text-align: center;
border: none;
background-color: #E0DFE9;
cursor: pointer;
color: #102770;
box-shadow: 0 8px 16px 0 rgba(255, 235, 167, 0.15);
margin-right: 20px;
margin-bottom: 20px;
}

.dropbtn {
position: relative;
left: 0;
 
}

.dropdown-content {
display: none;
position: absolute;
background-color: #E0DFE9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;

}

.dropdown-content a {
color: #0C0A1C;
padding: 10px 12px; /* Adjusted padding */
text-decoration: none;
display: block;

}

.dropdown-content a:hover {
background-color: #ff7200;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #3e8e41;
}

.Result{
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;

}

.Result::hover {
  background-color: rgb(249,250,251);
}

.Result:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.Result:focus-visible {
  box-shadow: none;
}


.form h2{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus{
  outline: none;
}

::placeholder{
  color: #fff;
  font-family: Arial;
}

.btnn{
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btnn:hover{
  background: #fff;
  color: #ff7200;
}
.btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a{
  text-decoration: none;
  color: #ff7200;
}
.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.icons a{
  text-decoration: none;
  color: #fff;
}
.icons ion-icon{
  color: #fff;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}
.icons ion-icon:hover{
  color: #ff7200;
}
body {
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
background-color: #0C0A1C; /* Set background color for the entire page */
color: #ffffff; /* Set text color for the entire page */
}

.header-container {
background-color: #1B0B03;
color: #ffffff;
padding: 0px 10px;
width: 100%;
}

h1 {
font-size: 24px;
margin-bottom: 5px;
}

h1:nth-child(2) {
text-align: left;
font-weight: bold;
position: relative;
}

p {
font-size: 16px;
line-height: 1.5; /* Adjusted line height */
margin-bottom: 20px;
}

p:nth-child(2),
p:nth-child(3),
p:nth-child(4) {
text-align: left;
}

a {
color: #007bff;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.onyx {
  width: 90%;
  margin: 0;
  position: center;
}
  
.title-contributor img {
  height: auto;
  max-width: 330%
  margin: center;
}

.Contributer-a,
.Contributer-b {
    max-width: 100%;
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.Contributer-a img,
.Contributer-b img {
    width: 100%;
    height: auto;
    display: block;
}



a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
